.qdqd{
    border :2px;
    background-color: aquamarine;
    opacity: 50%;
    margin: 20px;
}
.dqdq{
    border :2px;
    background-color: antiquewhite;
    opacity: 50%;
    margin: 10px;
}

footer ul{
    list-style: none;
    padding: 0;
}

footer ul li{
    display: inline;
    background: rgb(0,136,221);
}

#global-header {
    z-index: 100;
    
    position: fixed;
    top: 0;
    left: 0;
    background-color: #035E7D;

    height: 42px;
    width: 100%;
}

ul{
    list-style: none;
}
#content ul li{
    float: left;
}
main{
    position: relative;
}
#content{
    margin-left: 150px;
    margin-top: 50px;
}
#left-sidebar{
    float: left;
    height: 100%;
}
